{%load thumbnail%}
<table id="images">
{%for image_row in images%}
<tr>{%for image in image_row%}
    {%if image.src%}
    <td class="image">
    <a class="use-image image-detail" href="{{image.href}}">
        <img src="{%thumbnail image.src 150x150 crop upscale%}" width="150" height="150" alt="{{image.caption}}">
        {%include 'media_browser/admin/image_info_dict.html'%}   
    </a>
    <br/>{{image.title}}<br/>
    <a class="" href="{%url media_browser_admin:image_template image.id%}">Template</a> | 
    <a href="{%url media_browser_admin:image_resize image.id%}">Resize or Crop</a>
    </td>
    {%endif%}
{%endfor%}<tr>    
{%empty%}<tr><td class="image empty">No images found.</td></tr>
{%endfor%}
</table>
<script src="{{MEDIA_URL}}scripts/jquery.qtip.js" type="text/javascript"></script>
<script type="text/javascript">
MediaBrowser.Grid.init();
</script>
