/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

/* Global reset-RESET */
/* The below restores some sensible defaults */
strong { font-weight: bold }
em { font-style: italic }
a img { border:none } /* Gets rid of IE's blue borders */
h1, h2, h3, h5, h5, h6 { font-weight: normal; } 
a { text-decoration: none; }
a:hover { text-decoration: underline; }

body { font-size: 62.5%; } /* 1px == 1em */

/* http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
.clearfix {display: block;}
* html .clearfix {height: 1%;}
/* end hide from IE-mac */

/************************
/* Page Layout */
/***********************/

body {
    font-family: helvetica, arial, sans-serif;
    background: url(images/bg_deepest.gif) repeat-y center top;
    margin: 0;
    padding: 0;
}
    body.background_repositioned {
        background-position: -3358px 0;    
    }

#wrap {
    width: 100%;
    min-width: 1275px;
    margin: 0px auto;
}
#header {
    width:1080px;
    height: 42px;
    position: relative;
}
#globalNav {
    width: 316px;
    height: 42px;
    position: absolute;
    left: 450px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-weight: 300;

    font-size: 1.8em;
}
    #globalNav li {
        display: inline;
    }
    
    #globalNav li.active { font-weight: bold; }
    
            #globalNav li a {
                display: block;
                float: left;
                border-right: 1px solid #e8e8e8;
                width: 60px; /* first as baseline default */
                height: 30px; /* 42 */
                text-align: center;
                text-decoration: none;
                color: #fafafa;
                padding: 12px 0;
                text-transform: lowercase;
            }
                    #globalNav li a:hover           { background: gray; }
                    #globalNav li.nav_blog a        { width: 60px; }
                    #globalNav li.nav_tumblelog a   { width: 100px; }
                    #globalNav li.nav_about a       { width: 69px; }
                    #globalNav li.nav_projects a    { width: 84px; border-right: none; }

#page {
    width: 100%
    margin-bottom: 90px;
}
        #primary {
            width: 410px;
            float: left;
            padding: 170px 127px 0 231px;
            
        }
        #secondary {
            float:right;
            padding-right:100px;
            padding-top:145px;
            width:341px;
        }

h1 {
    font-size: 2.4em;
    color: #f4fafc;
    font-weight: bold;
}

h2 {
    color: #989898;
    font-size: 1.8em;
}

h1 a, h2 a,
h1 a:hover, h2 a:hover {
    color: #fff;
}

/* Link Colors */

a { color: #8a7816; }
a:hover { color: #8a7816; text-decoration: underline; }
a:active { color: #ae2f30; }
a:visited {  }



/************************
/* Index Page Headings */
/***********************/

#logo { 
    background: url(images/logo.png) no-repeat 0 0;
    height:72px;
    position:absolute;
    text-indent:-999px;
    top:87px;
    width:400px;
}

    #logo a { 
        display:block;
        height:100%;
        width:100%;
    }
    
h2.section_title { display: none; }

#secondary h2.section_title {
    background: url(images/tumblelog_title.png) no-repeat 0 0;
    display: block; 
    font-size: 0px;
    height: 63px;
    text-indent: -999px;
    margin-bottom: 35px;
}
/************************
/* Blog Entry */
/***********************/
.blog_entries h1,
.blog_entries h2 { /* in a list of blog entries, these are the same size */
    font-size: 2.4em;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 20px;
}
.search-result,
.entry {
    margin-bottom: 60px; 
}
    .entry .date {
        font-size: 1.4em; 
        margin-bottom: 15px;    
        text-align: right;
    }
        .entry .date span {
            color: #af2424;
            font-weight: bold;
        }
    .search-result .body,    
    .entry .body {
        font-family: georgia, times, "Times New Roman", serif; 
        font-size: 1.4em;
    }
    .entry .meta {
        margin-top: 15px;
        font-size: 1.2em; 
    }
    
    .entry .body p { margin: 7px 0; }
    .entry .body pre { background: silver; padding: 5px; }
    .entry .body ol,
    .entry .body ul {
        margin: 10px 0;
    }
    .entry .body ul li {
    list-style-type: disc;
    
    }
    .entry .body ol li {
    list-style-type: decimal;
    
    } 

/************************
/* Breadcrumbs  */
/***********************/
#breadcrumb {
    position: absolute;
    top: 175px;
    font-size: 1.1em;
}
#breadcrumb a { color: #fafafa; }

/************************
/* Tumblelog Entry */
/***********************/

.tumblelog_entries h1,
.tumblelog_entries h2 {
    font-size: 1.8em;
    font-weight: normal;
}
    .tumblelog_entries h2 a { color: #989898; }

    .tumblelog_entries .entry .body,
    .tumblelog_entries entry .date { color: #f5f2f2; }

/************************
/* Comments Styling */
/***********************/

.comments { margin: 0; }
    
    .comments h4 {
        margin: 25px 0 10px 0; 
        font-size: 1.4em; 
    }

    .comments .status { 
        background-image: url(images/blue_comment_bubble.png);
        background-repeat: no-repeat;
        background-position: 0 -19px;
        text-indent: 20px;
    }
    .comments .status:hover { background-position: 0 0; }
    
        .comments.full .status {
            font-size: 1.4em;
            background-position: 0 -18px;
            line-height: 1.3em;
        }
        
        .comments.full .status:hover { background-position: 0 1px; }
        
    .comments form { 
        margin-bottom: 20px;
        overflow: hidden; 
    }

    .comments form textarea,
    .comments form input { border: 0px; padding: 4px; }
    .comments form label { clear: both; margin-top: 5px;}
    
    .comments form #comment textarea { height: 450px; }
   
    .comments form #honeypot { display: none; }
    
    .comments button.submit-post { margin: 10px 0 0 0; }
    
    .comments.preview { font-size: 1.4em; }
    
    .comments.preview blockquote { background: #cde4ec; padding: 20px}
    
    .comments.preview h1 { line-height: 2.4em; }
    
    .comments form .errorlist { color: red; }
    
    

.comment {
    border-bottom: 1px solid white; 
    margin-top: 20px;
    padding: 10px;
    width: 560px;
}

.comment.registered {
    background: #cde4ec;
    border-bottom: 0px;

}

    .comment.last { border-bottom: 0px; }

    .comment dt { 
        float: left; 
        padding-right: 10px;
    }
    .comment dt.comment-text { float: none; }
/************************
/* Author + Tag Pages */
/***********************/
#primary.authors {
    width: 500px;
}
#primary.authors img {
    float: right;
    padding: 0 0 10px 10px;
}
#primary.tags .tag-list,
#primary.authors .author-list {
    font-size: 1.4em;
}
#author-bio {
    font-family:georgia,times,"Times New Roman",serif;
    font-size:1.4em;
}

.tags.full { font-size: 1.4em; }

.tags.full h2 { margin: 20px 0; }

.tags.full li { padding-bottom: 10px; }


/************************
/* Pagination          */
/***********************/

.pagination {
    font-size: 1.4em;
}
.pagination a img { vertical-align: middle; }

/************************
/* Tagging          */
/***********************/

.tags {}

/************************
/* Search Results  */
/***********************/

#search-box {
    border: 0px;
    padding: 2px 4px;
    left: 814px;
    position: absolute; 
    top: 17px;
}
.search form { margin-bottom: 20px; }
#search-box-submit {display: none; }
#sorts {
    position: absolute;
    left: 20px;
    font-size: 1.4em;
}    
    #sorts h2 { color: #fff; font-size: 1.4em;}
    
    #sorts a.active { font-weight: bold }
    
    .search-result.none { font-size: 1.4em; }