{%extends "media_browser/base.html"%}
{%block title%}Resize '{{image.title}}'{%endblock%}
{%block breadcrumbs%}
<div class="breadcrumbs"> 
   <a href="{%url media_browser:image_list%}">Image Browser</a>
   &rsaquo;
   Resize Options for Image: "{{image.title}}"
</div>
{% endblock %}
{% block browser %}
<h2>Resize <em>{{image.title}}</em>{%if image.resized%} <span>(shown smaller than actual size)</span>{%endif%}</h2>
{%if image.resized%}<a href="{{image.src}}" title="View full size" targe="_blank">{%endif%}
<div id="image-preview">
<img src="{{image.src}}" width="{{image.width}}" height="{{image.height}}" alt="{{image.alt}}" />
</div>
{%if image.resized%}</a>{%endif%}
<div class="info-block">
    <h3>Info</h3>
    {%include 'media_browser/image_info_dict.html'%}
    <form id="resize">
    <label>Select a dimension to use:&nbsp;
        <select id="crop-options">
            <option selected="true" value="default">Original size</option>
            {%for dim in dimensions%}
            <option value="{%url media_browser:crop image.id dim.pk%}">{{dim}}</option>
            {%endfor%}
        </select><br/><br/>
        </label>
        <button>Use Selected Dimension</button>
    </form>
</div>
<script type="text/javascript">
var default_image =  $("#image-preview").html();
var default_img_el = null;
var current_tag = null;

$("#crop-options").change(function() {
    var url = $(this).val()
    if (url === 'default') { 
        $("#image-preview").html(default_image);
        current_tag = default_img_el;
    }
    else $.get(url, {}, resize_preview_callback);
});

function resize_preview_callback(data, status) {
    current_tag = data;
    $("#image-preview").html(data);
    if ($("#image-preview img").width() > $("#image-preview").width()) {
        $("#image-preview").css('width', $("#image-preview img").width());
    }
    if ($("#image-preview img").height() > $("#image-preview").height()) {
        $("#image-preview").css('height', $("#image-preview img").height());
    }
}

$("form#resize button").click(function(evt) {
    evt.preventDefault();
    window.parent.add_image(current_tag);
});

function init() {
    $.get('{{image.url}}', {}, function(data) { default_img_el = current_tag = $(data); });
    $("#image-preview").css('height', $("#image-preview").height());
    $("#image-preview").css('width', $("#image-preview").width());
    $($("#resize select option")[0]).attr("selected", "true");
}

init();
</script>
{% endblock %}