<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{%block title%}{{site_preferences.site_title}}{%endblock%}</title>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/baseline.base.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/baseline.form.css" type="text/css" media="all">    
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/global.css" type="text/css" media="all">
    <link rel="alternate" type="application/rss+xml" title="Blog Entry Feed" href="/feeds/blog/">
    <link rel="alternate" type="application/rss+xml" title="Tumblelog Entry Feed" href="/feeds/tumblelog/">
    <script src="{{MEDIA_URL}}scripts/jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
        var min_width = 1422;
        var currently_positioned = null;
        $(window).resize(set_body_class);
        $(document).ready(function() { currently_positioned = set_body_class(); });
        function set_body_class() {
            var page_width = $(window).width()
            var is_positioned = page_width  < min_width
            if (is_positioned && !currently_positioned) { 
                $("body").addClass('background_positioned');
                currently_positioned = true;
            }
            if (!is_positioned && currently_positioned) {
                $("body").removeClass('background_positioned');
                currently_positioned = false;
            }
            return is_positioned
        }
    </script>
    {%block head%}{%endblock%}
</head>
<body>
<div id="deepWrap">
    <div id="wrap"> 
        <div id="header">
            <ul id="globalNav">
                <li class="nav_blog{%ifequal active_main_nav 'blog'%} active{%endifequal%}"><a href="{%url blog:entry_list%}">Blog</a></li>
                <li class="nav_tumblelog{%ifequal active_main_nav 'tumblelog'%} active{%endifequal%}"><a href="{%url tumblelog:list%}">Tumblelog</a></li>
                <li class="nav_about{%ifequal active_main_nav 'about'%} active{%endifequal%}"><a href="{%url authors:detail slug='james-stevenson'%}">About</a></li>
                <li class="nav_projects"><a href="#">Projects</a></li>
            </ul> <!--/ #globalNav -->
        </div> <!--/ #header -->
        <h2 id="logo"><a href="{%url index%}">{{site_preferences.site_title}}</a></h2>
        <div id="breadcrumb">
        {%block breadcrumb%}
        {%if not breadcrumb.has_single_crumb%}
        {%for url, title in breadcrumb%}
          {%if forloop.first and not forloop.last%}
          <span class="first"><a href="{{url}}">{{title}}</a></span>&nbsp;&nbsp;&gt;&nbsp;
          {%else%}
              {%if forloop.last%}
              <span class="last">{{title}}</span>
              {%else%}
              <a href="{{url}}">{{title}}</a>&nbsp;&nbsp;&gt;&nbsp;
              {%endif%}
          {%endif%}    
          {%endfor%}
        {%endif%}  
        {%endblock%}
        </div>
        <div id="page" class="clearfix">
        {%block body%}{%endblock%}
        </div><!-- / #page -->
    </div><!-- / #wrap -->
</div><!-- / #deepwrap -->    
</body>
</html>