{%comment%}
This snippet can be used for all generic views which provide pagination.
{%endcomment%}
{%if is_paginated%}
<div class="pagination">
    <span class="step-links">
        {% if has_previous %}<a class="previous-page" href="?page={{previous}}"><img src="{{MEDIA_URL}}styles/images/left_arrow.png" alt=""></a>&nbsp;{% endif %}
        <span class="current-page">Page {{ page }} of {{pages}}.</span>
        {% if has_next %}&nbsp;<a class="next-page" href="?page={{next}}" title="next page"><img src="{{MEDIA_URL}}styles/images/right_arrow.png" alt=""></a>{% endif %}
    </span>
</div>
{%endif%}